* {
  margin: 0em;
  padding: 0em;
}

body {
  font-family: "Consolas", monospace;
  color: green;
  background: #000;
  font-size: 0.875em;
}

.screen, .info, .menu, .event-log {
  overflow: hidden;
  float: left;
  display: inline-block;
  margin-right: 3em;
  margin-bottom: 1em;
}

.screen, .menu {
  /* coupled to main.js screen.width*/
  width: 49em;
}

.screen {
  /* coupled to main.js screen.height*/
  height: 24em;
  cursor: none;
  /* prevents screen from being highlighted */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info {
  /* not coupled to anything */
  width: 20em;
  clear: right;
}

.tile {
  background: #080808;
}

.possible {
  background: #18454d
}

.tile-\# {
  background: white;
  color: rgba(255,0,0,0.8);
  font-weight: bold;
}

.tile-\% {
  background: white;
  color: rgba(0,255,0,0.8);
  font-weight: bold;
}

span.clickable:hover {
  background: #aaa;
}

.tile-0, .tile-1, .tile-\. {
  color: #0D012E;
}
.tile-2, .tile-3 {
  color: #1F0073;
}
.tile-4, .tile-5 {
  color: #3900D5;
}

.tile-6, .tile-7 {
  color: #6831FF;
}

.tile-8, .tile-8 {
  color: #FFC47A;
}

.tile-a, .tile-b {
  color: #0DE409;
}

.tile-c, .tile-d {
  color: #028600;
}

.tile-e, .tile-f {
  color: #028600;
}

.tile-g, .tile-h {
  color: #025A00;
}

.tile-i, .tile-j {
  color: #494949;
}

.tile-k, .tile-l {
  color: #707070;
}

.tile-m, .tile-n {
  color: #ABABAB;
}

.tile-o, .tile-p {
  color: #C4C4C4;
}

.tile-q, .tile-r {
  color: #E4E4E4;
}

.tile-s, .tile-t {
  color: #F5F5F5;
}

.tile-u, .tile-v {
  color: #FFFFFF;
}
