body {
  font-family: "Consolas", monospace;
  color: green;
  background: #000;
  font-size: 0.8em;
}

.tile-\# {
  background: white;
  color: red;
}

.tile-\% {
  background: white;
  color: red;
}

.tile-0 {
  color: #0D012E;
}
.tile-1 {
  color: #0D012E;
}
.tile-2 {
  color: #1F0073;
}
.tile-3 {
  color: #1F0073;
}
.tile-4 {
  color: #3900D5;
}
.tile-5 {
  color: #3900D5;
}
.tile-6 {
  color: #6831FF;
}
.tile-7 {
  color: #6831FF;
}
.tile-8 {
  color: #FFC47A;
}
.tile-9 {
  color: #FFC47A;
}
.tile-a {
  color: #0DE409;
}
.tile-b {
  color: #0DE409;
}
.tile-c {
  color: #028600;
}
.tile-d {
  color: #028600;
}
.tile-e {
  color: #028600;
}
.tile-f {
  color: #028600;
}
.tile-g {
  color: #025A00;
}
.tile-h {
  color: #025A00;
}
.tile-i {
  color: #494949;
}
.tile-j {
  color: #494949;
}
.tile-k {
  color: #707070;
}
.tile-l {
  color: #707070;
}
.tile-m {
  color: #ABABAB;
}
.tile-n {
  color: #ABABAB;
}
.tile-o {
  color: #C4C4C4;
}
.tile-p {
  color: #C4C4C4;
}
.tile-q {
  color: #E4E4E4;
}
.tile-r {
  color: #E4E4E4;
}
.tile-s {
  color: #F5F5F5;
}
.tile-t {
  color: #F5F5F5;
}
.tile-u {
  color: #FFFFFF;
}
.tile-v {
  color: #FFFFFF;
}
